@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;

  /* Typography */
  --font-poppins: Poppins, sans-serif;
  --font-work-sans: Work Sans, sans-serif;

  /* Font sizes with their properties */
  --text-size-h1: 70px;
  --text-size-h1--line-height: 1.1;
  --text-size-h1--font-weight: 600;

  --text-size-h2: 50px;
  --text-size-h2--line-height: 1.2;
  --text-size-h2--font-weight: 500;

  --font-size-h3: 25px;
  --font-size-h3--line-height: 1.3;
  --font-size-h3--font-weight: 500;

  --font-size-p1: 15px;
  --font-size-p1--line-height: 1.5;
  --font-size-p1--font-weight: 400;

  --font-size-p2: 16px;
  --font-size-p2--line-height: 1.5;
  --font-size-p2--font-weight: 600;

  --font-size-label: 15px;
  --font-size-label--line-height: 1.4;
  --font-size-label--font-weight: 500;

  /* Primary colors */
  --color-primary: #a77f3a;
  --color-primary-brown: #a77f3a;
  --color-primary-medium: #ac8969;
  --color-primary-light: #d0bba8;
  --color-primary-lighter: #e4d7cb;
  --color-primary-warm: #e5ceb8;
  --color-primary-pale: #eddfc7;
  --color-primary-faint: #f4eee7;

  /* Neutral colors */
  --color-neutral-black: #000000;
  --color-neutral-dark: #2b2a29;
  --color-neutral-medium: #5a5a5a;
  --color-neutral-gray: #a3a3a3;
  --color-neutral-light: #dddddd;
  --color-neutral-pale: #f5f6f7;
  --color-neutral-white: #ffffff;

  /* Secondary colors */
  --color-secondary-green: #59765b;
  --color-secondary-brown: #ac8969;
  --color-secondary-dark: #403625;
  --color-secondary-sand: #e5ceb8;
  --color-secondary-beige: #efe4d7;
  --color-secondary-gold: #a77f3a;
  --color-secondary-yellow: #e4b763;

  /* Text color */
  --color-default: #181212;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}
